# SQL Interview Questions を参考にした問題集  SQLite版

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](http://colab.research.google.com/github/rootassist/SQL_Practices_withColab/blob/main/SQL_InterviewQuestions_Colab_SQLite.ipynb)

SQLの"Interview Questions"としてよく見かける問題を参考にして練習問題を作ってみました。

## はじめかた
- このNoteBookをGoogle Colaboratory環境で開いていない場合には、上部の「Open in Colab」をクリックしColaboratory環境に移って下さい
- 最初に「#環境構築用のセル」を実行して下さい（1分弱ほど時間がかかります）SQLiteデータベースが準備されます。
- %%sqlの下にSQL命令を入力して実行するとSQLiteで実行した結果が出力されます。
- 出力する列については、問題文に指定されているもの以外に適宜追加して出力しても構いません。

In [ ]:
#環境構築用のセル
%load_ext sql
%config SqlMagic.autopandas=True
%sql sqlite:///sample.db3
%sql CREATE TABLE 社員表(\
'社員ID' INTEGER,\
'氏名' TEXT,\
'上司社員ID' INTEGER,\
'給料' INTEGER,\
'部署' TEXT,\
'入社日' TEXT,\
'フロアID' INTEGER\
);
%sql INSERT INTO 社員表 (社員ID,氏名,上司社員ID,給料,部署,入社日,フロアID) VALUES\
(1,'宍戸一徳',0,32,'総務','2010-04-01',2),\
(2,'石原勇介',0,31,'人事','2011-04-01',3),\
(3,'磯部七世',0,30,'経理','2011-04-01',3),\
(4,'石塚はるか',1,23,'総務','2011-04-01',2),\
(5,'赤羽瞬',2,21,'人事','2011-04-01',2),\
(6,'一青なぎさ',3,22,'経理','2011-04-01',3),\
(7,'森井裕太',4,16,'総務','2010-04-01',3),\
(8,'神崎ひかり',5,18,'人事','2012-04-01',2),\
(9,'前田研二',3,20,'経理','2013-04-01',2),\
(10,'大橋充則',7,12,'総務','2010-04-01',3),\
(11,'甲斐恭子',5,11,'人事','2012-04-01',3),\
(12,'小高雅彦',9,10,'経理','2012-04-01',2);
%sql CREATE TABLE フロア (\
'フロアID' INTEGER,\
'フロア名' TEXT\
);
%sql INSERT INTO フロア (フロアID,フロア名) VALUES\
(1,'地上階'),\
(2,'2階'),\
(3,'3階');

テーブル「社員表」
> |社員ID|氏名|上司社員ID|給料|部署|入社日|フロアID|
> |--|--|--|--|--|--|--|
> |1|宍戸一徳|0|32|総務|2010-04-01|2|
> |2|石原勇介|0|31|人事|2011-04-01|3|
> |3|磯部七世|0|30|経理|2011-04-01|3|
> |4|石塚はるか|1|23|総務|2011-04-01|2|
> |5|赤羽瞬|2|21|人事|2011-04-01|2|
> |6|一青なぎさ|3|22|経理|2011-04-01|3|
> |7|森井裕太|4|16|総務|2010-04-01|3|
> |8|神崎ひかり|5|18|人事|2012-04-01|2|
> |9|前田研二|3|20|経理|2013-04-01|2|
> |10|大橋充則|7|12|総務|2010-04-01|3|
> |11|甲斐恭子|5|11|人事|2012-04-01|3|
> |12|小高雅彦|9|10|経理|2012-04-01|2|

※社員表の「フロアID」は各社員の自席のあるフロアのIDとします。

テーブル「フロア」
> |フロアID|フロア名|
> |--|--|
> |1|地上階|
> |2|2階|
> |3|3階|

Q1 部署別の平均給与(小数点以下第2位まで)

In [ ]:
#%%sql の次の行にSQLを入力する
%%sql

Q2 社員がいないフロア

In [ ]:
#%%sql の次の行にSQLを入力する
%%sql

Q3 上司より先に入社した社員

In [ ]:
#%%sql の次の行にSQLを入力する
%%sql

Q4 上司もしくは上位上司より先に入社した社員

In [ ]:
#%%sql の次の行にSQLを入力する
%%sql

Q5 それぞれの部署で給料が2番目に高い社員

In [ ]:
#%%sql の次の行にSQLを入力する
%%sql

Q6 各社員についてそれぞれの給料が所属部署の平均給料以上なら「高」そうでないなら「低」と表示

In [ ]:
#%%sql の次の行にSQLを入力する
%%sql